<div class="p-4 pt-10 h-screen w-screen">
  <div class="p-4 border-2 w-full h-full border-gray-200 border-dashed rounded-lg dark:border-gray-700">
    <div class="w-full flex justify-center">
      <img class="logo sm:w-4/12 w-full" src="{{linkTitle}}" >
    </div>
    <div class="w-full flex justify-center">
      <img mat-card-image class="logo sm:w-1/6 w-2/5" [hidden]="hideDoc" src='assets/idcard.png'>
      <img mat-card-image class="logo sm:w-1/12 w-1/5" [hidden]="hideLoad" src='assets/loading2.gif'>
    </div>
    <br>
    <div class="w-full flex justify-center">
      <div class="sm:w-5/12 w-full bg-black bg-opacity-60 rounded-lg">
        <div class="w-full flex justify-center">
          <div class="text-center text-gray-100">
            <a >Ingrese Documento de Identidad o Placa Vehicular</a>
            <br>
            <a style="color: white; font-size: 30px; font-weight: normal;">Realizar una búsqueda</a>
            <br>

            <div class="items-center text-center">
              <label for="docInput" class="doc block mb-2 text-sm font-medium text-gray-100 dark:text-white">DNI/CE o PLACA:</label>
              <input type="text" [disabled]="disableDocInput" [(ngModel)]="docInputText" name="docInput" id="docInput" (keyup.enter)="verifyEnter($event.target.value)" #docInput class="uppercase bg-gray-800 border text-center border-gray-300 text-gray-800 text-2xl rounded-lg focus:ring-blue-500 focus:border-blue-500 w-5/6 p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white txtSearch" placeholder="" required>
            </div>

<!--             <mat-form-field class="doc" appearance="outline" style=" min-width: 95%; height: 30px; font-size: 20px; ; ">
              <mat-label class="doc" >DNI/CE:</mat-label>
              <input matInput type="number" id="docInput" [disabled]="disableDocInput" [(ngModel)]="docInputText" name="docInput" (keyup.enter)="verifyEnter($event.target.value)"  style="font-size:30px; border-color: white; " #docInput >
            </mat-form-field> -->
            <br>
            <button mat-raised-button id="btnSearch" class="btnSearch" (click)="search(docInput.value)" style="min-width: 95%; height:50px; border-radius: 20px; background-color: rgb(225, 169, 149);">
              BUSCAR
            </button>
          </div>
        </div>
        <br>
        <div class="w-full flex justify-center">
          <p class="font-light text-gray-100 text-center">
            <a>
              &dash; CREARTTECH SOLUTIONS &dash;
              <br>
              crearttechsolutions&#64;gmail.com
            </a>
          </p>
        </div>
      </div>
    </div>

    <div  [hidden]="hideAll" class="grid grid-cols-3">

      <div class="col-span-3">

      </div>

    </div>
  </div>


  <button hidden="true" id="btnResultModal" data-modal-target="result-modal" data-modal-toggle="result-modal" class=" text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
    Result modal
  </button>
    
  <div id="result-modal" tabindex="-1" data-modal-backdrop="static" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative p-4 w-full max-w-md max-h-full">
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 w-full">
              <div class="p-4 md:p-5 text-center w-full">
                <div class="line-boxes" style="text-align:center w-full">
                  <img mat-card-image [hidden]="hideCheck" class="box w-full" id="box1" src='assets/allowed.png'>
                  <img mat-card-image [hidden]="hideVip" class="box" id="box2" src='assets/allowed-vip.png' width="100%">        
                  <img mat-card-image [hidden]="hideBlock" class="box" id="box3" src="assets/denied.png" width="100%">
                  <img mat-card-image [hidden]="hideBirth" class="box" id="box4" src="assets/birthday.png" width="100%">
                  <img mat-card-image [hidden]="hideObs" class="box" id="box5" src="assets/observed.png" width="100%">
                  <img mat-card-image [hidden]="hideWarn" class="box" id="box6" src="assets/warn.png" width="100%">
                </div>
                <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">{{name_result}}</h3>
                <h3 *ngIf="false" class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">EDAD: {{age_result}}</h3>
                <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400 up">{{doc_result}}</h3>
                <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">{{house_result}}</h3>
<!--                 <button data-modal-hide="result-modal" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                    Yes, I'm sure
                </button>
                <button data-modal-hide="result-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">No, cancel</button> -->
              </div>
          </div>
      </div>
  </div>
  
</div>